/*
 * @selector div
 * @info Container for elements.
 */
div {
    margin: -8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/*
 * @selector div.shade-light
 * @info Div with background colour of a light shade.
 */
div.shade-light {
    background-color: var(--shade-light);
}

/*
 * @selector div.layout
 * @info Div for layout use.
 */
div.layout {
    margin: unset;
    margin-top: unset;
    margin-bottom: unset;
    padding: unset;
}